$box-shadow:rgba(17, 34, 17, 0.05);
$primary-color:white;
body{
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    ul{
        padding: 0%;
        list-style: none;
    }
}
#navBar{
    position: sticky;
    top: 0px;
    background-color: $primary-color;
    div{
        display: inline;
    }
    padding-left: 5vw;
    padding-right: 5vw;
    box-shadow: 0px 4px 16px 0px $box-shadow;
}
#intro{
    
    .intro-text{
       
        font-size: 3em;
        min-height: 70vh;
        display: inline-block;
        p {
            padding-left: 10%;
            margin-bottom: 20px;
            overflow: hidden; /* Hide the overflow to create the typing effect */
            white-space: nowrap; /* Ensure the text doesn't wrap */
            letter-spacing: 10px; /* Adjust the spacing between letters */
            animation:
                typing 2s steps(18),
                cursor .4s step-end infinite alternate;
            border-right: 5px solid ;
            width: 100%;
        
        }
        @keyframes cursor {
            50% {
                border-color: transparent
            }
        }
        @keyframes typing {
            from {
                width: 0;
            }
            to {
                width: 100%;
            }
        }
    }
    #programmer-icon{
        padding-right: 5%;
        img{
            float: right;
            width: 500px;
            height: 500px;
        }
    }

    .social-links{
        display: block;
        text-align: center;
    }
    .resume-link{
       margin: 0 auto;
        &:hover{
            background-color: black;
        }
    }

}
.flex-container1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.flex-container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    .item{
        padding-left: 10px;
        padding-right: 10px;
    }
}
section{
    min-height: 100vh;
    ul{
        li{
            display: inline-block;
            a{
                width: 64px;
                height: 64px;
            }
        }
    }
}